.listings-skeleton .ant-divider-horizontal {
  margin: 12px 0;
}

.listings-skeleton
  .ant-divider-content
  .ant-divider-title
  + .ant-skeleton-paragraph {
  margin-top: 12px;
}

.listings-skeleton_alert {
  margin-bottom: 20px;
}
